{
 :paths ["src"]
 :deps  {
         org.clojure/clojure               {:mvn/version "1.10.2"}
         org.clojure/test.check            {:mvn/version "0.9.0"}
         reifyhealth/specmonstah           {:mvn/version "2.0.0"}
         clojure-lanterna/clojure-lanterna {:mvn/version "0.9.7"}
         etaoin/etaoin                     {:mvn/version "0.4.1"}
         msolli/proletarian                {:mvn/version "1.0.32-alpha"}
         migratus/migratus                 {:mvn/version "1.3.5"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
         org.postgresql/postgresql         {:mvn/version "42.2.10"}
         integrant/integrant               {:mvn/version "0.8.0"}
         metasoarous/oz                    {:mvn/version "1.6.0-alpha34"}
         juxt/crux-core                    {:mvn/version "RELEASE"}
         metosin/tilakone                  {:mvn/version "0.0.5-SNAPSHOT"}
         jarohen/chime                     {:mvn/version "0.3.3"}

         instaparse/instaparse             {:mvn/version "1.4.10"}
         ;; com.xtdb/xtdb-core                {:mvn/version "1.20.0"}

         org.clojure/core.async {:mvn/version "1.5.648"}
         ;; clj-http/clj-http                 {:mvn/version "3.12.3"}
         ;; clj-http-fake/clj-http-fake       {:mvn/version "1.0.4-SNAPSHOT"}

         ;; clojurewerkz/quartzite            {:mvn/version "2.1.0"}
         ;; https://www.demystifyfp.com/clojure/marketplace-middleware/creating-cron-jobs-in-clojure/
         ;; metamerge/metamerge               {:mvn/version "1.0.0"}
         ;; integrant/integrant               {:mvn/version "0.8.0"}
         ;; duct/duct {:mvn/version "0.12.2"}
         ;; reitit
         ;; liberator
         ;; muuntaja
         ;; meander/epsilon {:mvn/version "0.0.602"}
         ;; com.rpl/specter {:mvn/version "1.1.3"}
         }
 }
